In [1]:
!pip install pandas --upgrade
!pip install selenium --upgrade

Requirement already satisfied: pandas in /home/ledragox/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ledragox/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Collecting selenium
  Downloading selenium-4.1.0-py3-none-any.whl (958 kB)
     |████████████████████████████████| 958 kB 7.1 MB/s eta 0:00:01
Collecting trio~=0.17
  Downloading trio-0.19.0-py3-none-any.whl (356 kB)
     |████████████████████████████████| 356 kB 10.1 MB/s eta 0:00:01
Requirement already satisfied: urllib3[secure]~=1.26 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.7)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: async-generator>=1.9 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in /home/ledragox/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: idna in /home/ledragox/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in /home/ledragox/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in /home/ledragox/.local/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.2.0)
Collecting wsproto>=0.14
  Downloading wsproto-1.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyOpenSSL>=0.14 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from urllib3[secure]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in /home/ledragox/anaconda3/lib/python3.9/site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.12 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (1.14.6)
Requirement already satisfied: pycparser in /home/ledragox/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure]~=1.26->selenium) (2.20)
Requirement already satisfied: six>=1.5.2 in /home/ledragox/anaconda3/lib/python3.9/site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.12.0-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 3.0 MB/s  eta 0:00:01
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.12.0 outcome-1.1.0 selenium-4.1.0 trio-0.19.0 trio-websocket-0.9.2 wsproto-1.0.0

In [1]:
# Enter the internet
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# Chrome ~> chromedriver
# Firefox ~> geckodriver
browser = webdriver.Chrome()

# Get Dollar quotation
browser.get('https://www.google.com/')
browser.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Dolar', Keys.ENTER)
dollar_quotation = browser.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# Get Euro quotation
browser.get('https://www.google.com/')
browser.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Euro', Keys.ENTER)
euro_quotation = browser.find_element_by_xpath(
    '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

# Get Gold quotation
browser.get('https://www.melhorcambio.com/ouro-hoje')
gold_quotation = browser.find_element_by_xpath(
    '//*[@id="comercial"]').get_attribute('value')
gold_quotation = gold_quotation.replace(",", ".")

print('U$D = ', dollar_quotation, '£U = ',
      euro_quotation, 'GOLD = ', gold_quotation)

browser.quit()

U$D =  5.2539 £U =  6.165912218000001 GOLD =  296.46

In [2]:
# Import info to our database
table = pd.read_excel('data/Produtos.xlsx')
display(table)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [3]:
# Update Quotations
table.loc[table['Moeda'] == 'Dólar', 'Cotação'] = float(dollar_quotation)
table.loc[table['Moeda'] == 'Euro', 'Cotação'] = float(euro_quotation)
table.loc[table['Moeda'] == 'Ouro', 'Cotação'] = float(gold_quotation)

# Update Buy Price ~> Original Price x Quotation
table['Preço Base Reais'] = table['Preço Base Original'] * table['Cotação']

# Update Sell Price ~> Base Real Price x Margin
table['Preço Final'] = table['Preço Base Reais'] * table['Margem']
table['Preço Final'] = table['Preço Final'].map('{:.2f}'.format)

display(table)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.253900,5253.847461,1.40,7355.39
1,Carro Renault,4500.00,Euro,6.165912,27746.604981,2.00,55493.21
2,Notebook Dell,899.99,Dólar,5.253900,4728.457461,1.70,8038.38
3,IPhone,799.00,Dólar,5.253900,4197.866100,1.70,7136.37
4,Carro Fiat,3000.00,Euro,6.165912,18497.736654,1.90,35145.70
5,Celular Xiaomi,480.48,Dólar,5.253900,2524.393872,2.00,5048.79
6,Joia 20g,20.00,Ouro,296.460000,5929.200000,1.15,6818.58

# Update the new base price to the file

In [4]:
table.to_excel('data/produtos-novo.xlsx', index=False)